<form action="/store-usuario" method="post">
  <section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">Registro Administrador</h3>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" name="nombre" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Nombre</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" name="apellido" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Apelido</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" name="direccion" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Direccion</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example8" name="telefono" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Telefono</label>
                  </div>


                  <div class="form-outline mb-4">
                    <input type="email" id="form3Example8" name="email" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example8">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example9" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example9">contraseña</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example9" name="usuario" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example9">Usuario</label>
                  </div>

                  <div class="d-flex justify-content-end pt-3">
                    
                    <button  type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>